#infoBar{
    height: 15vh;
    
}

#infoBar > div {
    margin: 5px;
    border: solid black 3px;
}

#game {
    height:85vh;
}

#tree {
    background-color: brown;
}

#scoreContainer{
}

#playerScore {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#timer{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#heart {
    display: inline-block;
}

#heart img {
    width: auto;
    height: auto;
    max-width: 20vw;
    max-height: 10vh;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
#gameTimer {
    background-color: green;
    text-align: center;
    padding: 15px 0;
}

.title {
    font-family: 'Luckiest Guy', sans-serif;
    font-size:3rem;
}
.start-game{
    margin-bottom: 50px;
    margin-top: 300px;
    font-family: 'Luckiest Guy', sans-serif;
}
.how-to-play{
    font-family: 'Luckiest Guy', sans-serif;
}

#healthHolder {
    height: 100%;
}