#infoBar{
    height: 15vh;
    
}

#infoBar div {
    margin: 5px;
    border: solid black 3px;
}

#game 
{
    height:85vh
}

#bg
{
    position: relative;
    background: #00fdff url(images/clouds.jpg);
    height: 85vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-y;
    animation: animate 15s linear infinite;
}
.squirrel
{
    position: absolute;
    bottom: 10px;
}
@keyframes animate
{
    from{
        background-position: 0 100%;
    }
    to{
        background-position: 0 0;
    }
}

#tree {
    background-color: brown;
    position: relative;
    background: #00fdff url(images/bark.png);
    height: 85vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-y;
    animation: animate 4s linear infinite;
}
@keyframes animate
{
    from{
        background-position: 0 100%;
    }
    to{
        background-position: 0 0;
    }
}

#playerScore { 
    background-color: aquamarine;
}
.hidden{
    display:none;
}
#playerHealth {
    background-color: red;
}

#gameTimer {
    background-color: green;
}
.jumbotron{
    background-color:#e9ecef8c !important;
}
.title-text{
    font-family: 'Luckiest Guy', sans-serif;
    font-size:3.5rem;
}
.start-game{
    margin-bottom: 50px;
    margin-top: 350px;
    font-family: 'Luckiest Guy', sans-serif;
}
.how-to-play{
    font-family: 'Luckiest Guy', sans-serif;
}
#start-page{
    background-image: url('images/UDMemHall.jpg');
    background-repeat:round;
}
